.App {
  text-align: center;
}

td,
th {
  width: fit-content;
  padding: 10px;
}

th {
  width: fit-content;
  padding: 10px;
  border-bottom: 0.5px solid #000;
}

table {
  width: 70%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
